time-line {
	position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

time-line nav {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
}

time-line .timeline-zoom-container {
	width: 90%;
	right: 0px;
    overflow: auto;
    position: absolute;
    bottom: 36px;
    top: 50px;
	background: radial-gradient(#424242 15%, transparent 16%) 0 0, radial-gradient(#424242 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #5D5D5D;
    background-size: 8px 8px;
}

time-line .visualization-bar {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #525252;
	border-top: 2px solid #3E3E3E;
}

.timeline-content {
}

.track {
	position: relative;
	height: 20px;
	margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #3C3B3B;
    border-top: 1px solid #3C3B3B;
    background: radial-gradient(#575757 15%, transparent 16%) 0 0, radial-gradient(#575757 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #696666;
    background-size: 8px 8px;
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.track.main-track {
	height: 35px;
}

.track-item {
	position: absolute;
	opacity: 0.5;
}

.track-item.track-selected {
	opacity: 0.9;
}

.track .track-item {
	height: 20px;
	line-height: 20px;
}

.track.selected {
	background-color: #484A4C;
}

.track.main-track .track-item {
	height: 35px;
	line-height: 35px;
}

.handler {
	width: 7px;
    height: 100%;
    position: absolute;
    top: -1px;
	cursor: ew-resize;
	box-sizing: border-box;
}

.handler:first-child {
	left: 0px;
	border-radius: 8px 0px 0px 8px;
	border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.handler:last-child {
	right: 0px;
	border-radius: 0px 8px 8px 0px;
	border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.track-item p {
	overflow: hidden;
	max-height: 100%;
	cursor: pointer;
	margin-top: -1px;
	border-top: 1px solid black;
    border-bottom: 1px solid black;
	position: absolute;
	left: 7px;
	right: 7px;
}

rzslider .rz-pointer {
	width: 12px;
	height: 12px;
	top: -9px;
}

rzslider .rz-pointer:after {
	top: 2px;
    left: 2px;
}

rzslider .rz-bar-wrapper {
	padding-top: 10px;
}

.rz-bubble {
	display: none;
}

rzslider {
	margin: 20px 0 12px 0;
}

.zoom-text {
	line-height: 34px;
	color: white;
}

.navbar-inverse {
	background-color: #525252;
}

.track-names {
	padding-top: 5px;
}

.track-names-container {
	margin-top: 35px;
}

.current-time {
	margin-top: 21px;
	color: white;
}

.track-header {
	background-color: #4f4f4f;
	color: white;
    height: 20px;
    padding-top: 2px;
    width: 10%;
    text-align: right;
    padding-right: 5px;
	cursor: pointer;
	cursor: hand;
}

.track-header.main-track {
	height: 35px;
	padding-top: 9px;
}