time-line {
	position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

time-line nav {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
}

time-line .timeline-zoom-container {
	width: 100%;
    overflow: auto;
    position: absolute;
    bottom: 36px;
    top: 50px;
}

time-line .visualization-bar {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #525252;
}

.timeline-content {
	
}

.track {
	position: relative;
	height: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.track.main-track {
	height: 35px;
}

.track-item {
	position: absolute;
	opacity: 0.9;
}

.track .track-item {
	height: 20px;
	line-height: 20px;
}

.track.main-track .track-item {
	height: 35px;
	line-height: 35px;
}

.handler {
	width: 7px;
    height: 100%;
    position: absolute;
    top: 0px;
	cursor: ew-resize;
}

.handler:first-child {
	left: -7px;
	border-radius: 8px 0px 0px 8px;
	border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.handler:last-child {
	right: -7px;
	border-radius: 0px 8px 8px 0px;
	border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.track-item p {
	overflow: hidden;
	max-height: 100%;
	cursor: pointer;
	border-top: 1px solid black;
    border-bottom: 1px solid black;
}

rzslider .rz-pointer {
	width: 12px;
	height: 12px;
	top: -9px;
}

rzslider .rz-pointer:after {
	top: 2px;
    left: 2px;
}

rzslider .rz-bar-wrapper {
	padding-top: 10px;
}

.rz-bubble {
	display: none;
}

rzslider {
	margin: 20px 0 12px 0;
}

.zoom-text {
	line-height: 34px;
	color: white;
}

.navbar-inverse {
	background-color: #525252;
}
