<div class="track-item" ng-class="{ 'track-selected' : trackData.selected }"
		id="{{ getTrackItemId(trackData) }}" ng-repeat="trackData in tracks"
		style="left: {{ getLeft(trackData) }}%; width: {{ getWidth(trackData) }}%; z-index: {{ getDepth(trackData) }};">
	<div class="handler" ng-mousedown="leftHandlerDown($event,trackData,data); $event.stopPropagation();" style="color: {{ textColor }}; background-color: {{ color }}; "></div>
	<p ng-mousedown="centerHandlerDown($event,trackData,data); $event.stopPropagation();" style="color: {{ textColor }}; background-color: {{ color }}; ">{{ trackData.name || name }}</p>
	<div ng-mousedown="rightHandlerDown($event,trackData,data); $event.stopPropagation();" class="handler" style="color: {{ textColor }}; background-color: {{ color }}; "></div>
</div>
